server:
  http_listen_address: {{ promtail_http_listen_address }}
  http_listen_port: {{ promtail_http_listen_port }}
  grpc_listen_port: 0

clients:
 - url: "{{ loki_url }}"
   basic_auth:
    username: "{{ loki_username }}"
    password: "{{ loki_password }}"

positions:
  filename: /tmp/positions.yaml

target_config:
  sync_period: "{{ promtail_sync_period }}"

{% if promtail_scrape_configs is defined %}
scrape_configs:
  {{ promtail_scrape_configs | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if promtail_drop_time is defined %}
    pipeline_stages:
      - drop:
          older_than: {{ promtail_drop_time }}
{% endif %}
